@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 
twitter blue color: #1D9BF0
Text color on dark mode: #E7E9EA
Count border: #e74c3c

"Segoe UI", Roboto, Helvetica, Arial, sans-serif

*/

@theme {
  --color-xprimary: #1d9bf0;
  --color-xlightext: #e7e9ea;
  --color-reactions: #f91880;
  --font-lato: "Lato", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", serif;
  --font-roboto: "Roboto", serif;

  /* breakpoint for 500px (31.25rem) */
  --breakpoint-smd: 31.25rem;
  --breakpoint-mmd: 62.5rem;
}

/* .or {
  @apply flex items-center mx-3 justify-evenly relative before:block before:absolute before:w-1/2 before:border before:border-gray-300 before:top-1/2 before:left-0 after:block after:absolute after:w-1/2 after:border after:border-gray-300 after:top-1/2 after:right-0;
} */
.gray-border {
  @apply border border-gray-300 rounded-full;
}

.premium-bg {
  @apply bg-gradient-to-r from-indigo-500 via-purple-700 to-purple-800;
}
